<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Confirmation</title>
</head>
<body>
  <h1>Welcome to Purwadhika, Hello {{name}} Rate me</h1>

  <form>
     <label>
    <input type="radio" name="rating" value="1"> 1
  </label>
  <label>
    <input type="radio" name="rating" value="2"> 2
  </label>
  <label>
    <input type="radio" name="rating" value="3"> 3
  </label>
  <label>
    <input type="radio" name="rating" value="4"> 4
  </label>
  <label>
    <input type="radio" name="rating" value="5"> 5
  </label>
  </form>
</body>
</html>